<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">Group Detail</h2>

      <table class="table table-hover table-bordered">
        <thead class="table-light">
          <tr>
            <th class="text-center">Image</th>
            <th class="text-center">グループ名</th>
            <th class="text-center">紹介文</th>
            <% if @group.owner_id == current_user.id %> <!-- カレントユーザーがオーナーの場合のみ表示 -->
              <th class="text-center">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <%= image_tag @group.get_image, size: "100x100", class: "rounded-circle" %>
            </td>
            <td>
              <%= @group.name %>
            </td>
            <td><%= @group.detail %></td>
            <% if @group.owner_id == current_user.id %> <!-- カレントユーザーがオーナーの場合のみ表示 -->
              <td class="text-center">
                <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <!-- ボタン条件 -->
      <div class="text-center mt-4">
        <% if @group.is_owned_by?(current_user) %>
        <% elsif @group.includesUser?(current_user) %>
          <%= link_to 'Leave this group', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
        <% else %>
          <%= link_to 'Join this group', group_group_users_path(@group), method: :post, class: "btn btn-sm btn-success" %>
        <% end %>
      </div>

      <h4 class="mt-4">参加者一覧</h4>
      <ul>
        <% @group.users.each do |user| %>
          <li style="list-style: none;"><%= user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
