<h1 class="text-center my-4">Profile Detail</h1>
<p class="text-center">Find me in <code>app/views/users/show.html.erb</code></p>

<div class="container">
  <% if @user == current_user %>
    <!-- ユーザー自身の場合、プロフィールの編集ができる -->
    <div class="mb-4 text-center">
      <!-- プロフィール画像の表示 -->
      <%= image_tag(@user.avatar.attached? ? @user.avatar : "no_image.jpg", size: "150x150", class: "img-fluid rounded-circle") %>
      <p><strong>Name:</strong> <%= @user.name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary btn-lg' %>
    </div>
  <% else %>
    <!-- 他のユーザーのプロフィール -->
    <div class="mb-4 text-center">
      <!-- プロフィール画像の表示 -->
      <%= image_tag(@user.avatar.attached? ? @user.avatar : "no_image.jpg", size: "150x150", class: "img-fluid rounded-circle") %>
      <p><strong>Name:</strong> <%= @user.name %></p>
    </div>

    <h2 class="mt-4">Posts</h2>
    <ul class="list-unstyled">
      <% @user.posts.each do |post| %>
        <li class="mb-3">
          <!-- 投稿のテキストをリンクに変更して投稿詳細ページへ遷移 -->
          <%= link_to post.text, post_path(post), class: 'h5' %>

          <!-- 画像が添付されている場合、サムネイル画像を表示 -->
          <% if post.images.attached? %>
            <div class="mt-2">
              <% post.images.each do |image| %>
                <%= image_tag image, class: 'img-thumbnail', style: "max-width: 100px; max-height: 100px; margin-right: 10px;" %>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
