<h1 class="text-center my-4">投稿詳細</h1>

<div class="container">
  <% if @post.user == current_user %>  <!-- 投稿者がカレントユーザーの場合のみ表示 -->
    <p>投稿者: <%= link_to @post.user.name, user_path(@post.user), class: "text-primary" %></p> <!-- クリックでユーザーの詳細ページへ遷移 -->
    <h4>
      <%= link_to @post.text, edit_post_path(@post), style: "color: black;" %> <!-- 編集リンク -->
    </h4>
  <% else %>
    <h4><%= @post.text %></h4> <!-- 編集リンクがない場合、テキストのみ表示 -->
  <% end %>

  <!-- いいね数の表示 -->
  <p>いいね: <%= @post.likes.count %> 件</p>  <!-- ここで「いいね」の数を表示 -->

  <!-- 投稿の画像を表示 -->
  <% if @post.images.attached? %>
    <div class="row">
      <% @post.images.each do |image| %>
        <div class="col-12 col-md-6 mb-3">
          <%= image_tag image, class: "img-fluid rounded" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- コメントセクション -->
  <div id="comments" class="mt-4">
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <div id="comment_<%= comment.id %>" class="card mb-3">
      <div class="card-body">
        <p>
          <strong><%= comment.user.name %></strong> - <%= comment.created_at.strftime('%Y/%m/%d') %>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(@post, comment), method: :delete, class: "btn btn-danger btn-sm ml-2", data: { confirm: '本当に削除しますか？' }, remote: true %>
          <% end %>
        </p>
        <p><%= comment.comment %></p>
      </div>
    </div>
  <% end %>
</div>

  <!-- コメント投稿フォーム -->
  <div class="mt-4">
    <%= form_with model: [@post, @comment], class: "form", local: false do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, rows: '5', class: "form-control", placeholder: "コメントをここに" %>
      </div>
      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>

  <!-- 編集・削除ボタン（投稿者がカレントユーザーの場合） -->
  <% if @post.user == current_user %>
    <div class="mt-4">
      <%= link_to '編集', edit_post_path(@post), class: 'btn btn-primary' %>
      <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger ml-2' %>
    </div>
  <% end %>
</div>
