<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #5BAD92;">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-weight: bold; color: white;">
        <span>toritori</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white; font-size: 1.5rem;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <% if user_signed_in? %> <!-- 通常ユーザーがログインしている場合 -->
            <li>
              <%= link_to root_path, class:"nav-link text-light" do %>
                Home
              <% end %>
            </li>
            <li>
              <%= link_to "New Post", new_post_path, class: "nav-link text-light" %>
            </li>
            <li>
              <%= link_to "My Post", posts_path, class: "nav-link text-light" %>
            </li>
            <li>
              <%= link_to "My Profile", user_path(current_user), class: "nav-link text-light" %>
            </li>
            <li>
              <%= link_to "Create Group", new_group_path, class: "nav-link text-light" %>
            </li>
            <li>
              <%= link_to "All Group", groups_path, class: "nav-link text-light" %>
            </li>
            <li>
              <%= link_to "My Group", my_groups_groups_path, class: "nav-link text-light" %>
            </li>
            <li>
            <%= link_to notifications_path, class: "nav-link text-light position-relative" do %>
              <span>Notification</span>
              <% if current_user.notifications.unread.count > 0 %>
                <span class="badge badge-danger badge-pill position-absolute" 
                      style="top: 2px; right: 10px; transform: translate(30%, -30%);">
                  <%= current_user.notifications.unread.count %>
                </span>
              <% end %>
            <% end %>
            </li>
            <li>
              <%= link_to "Log out", destroy_user_session_path, class:"nav-link text-light", method: :delete %>
            </li>
            <li>
            <%= link_to "About", "/homes/about", class: "nav-link text-light" %>
            </li>
          <% elsif admin_signed_in? %> <!-- 管理者がログインしている場合 -->
            <li>
              <%= link_to "admin top", admin_comments_path, class:"nav-link text-light" %>
            </li>
            <li>
              <%= link_to "admin Log out", destroy_admin_session_path, class:"nav-link text-light", method: :delete %>
            </li>
            <li>
              <%= link_to "users", admin_users_path, class: "nav-link text-light" %>
            </li>
            <li>
              <%= link_to "groups", admin_groups_path, class: "nav-link text-light" %>
            </li>
          <% else %> <!-- ユーザーがサインインしていない場合 -->
            <li>
              <%= link_to about_path, class:"nav-link text-light" do %>
                About
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class:"nav-link text-light" do %>
                Sign up
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class:"nav-link text-light" do %>
                Log in
              <% end %>
            </li>
          <% end %> <!-- user_signed_in? と admin_signed_in? の確認 -->
          
        </ul>
      </div>
    </div>
  </nav>
</header>
